<div class="admin-dashboard">
    <sidebar></sidebar>

    <div class="main-content">
        <topbar></topbar>

        <section class="content">
            <img class="main-logo" src="/images/NEZTER_CASA.png" alt="Icono" />
            <h1>¡Bienvenido!</h1>
            <p>
                En este sistema podrás administrar el control de exámenes psicométricos en tu plataforma. Permite crear
                empleados y puestos, asignando exámenes a los empleados, categorizarlos, e incluso revisar los
                resultados de los exámenes de cada empleado por medio de la revisión al finalizar un examen.
            </p>
        </section>

        <footer></footer>
    </div>
</div>