<div class="admin-dashboard">
    <div class="main-content">
        <!-- Aquí colocas los componentes -->
        <search (agregar)="abrirModal()"></search>
        <empleado-modal *ngIf="modalVisible" [visible]="modalVisible" (cerrar)="cerrarModal()"
            (guardar)="agregarEmpleado($event)">
        </empleado-modal>

        <main class="content">
            <!-- Table Section -->
            <div class="table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombres</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Fecha de Incio de Contrato</th>
                            <th>Puesto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empleado of empleados; let i = index">
                            <td>{{ i + 1 | number: '2.0' }}</td>
                            <td>{{ empleado.nombre }}</td>
                            <td>{{ empleado.apellidoPaterno }}</td>
                            <td>{{ empleado.apellidoMaterno }}</td>
                            <td>{{ empleado.fechaNacimiento | date: 'dd / MM / yy' }}</td>
                            <td>{{ empleado.fechaInicioContrato| date: 'dd / MM / yy' }}</td>
                            <td>{{ empleado.puesto }}</td>
                            <td class="acciones">
                                <button class="edit">✏️</button>
                                <button class="delete">🗑️</button>
                                <button class="view">👁️</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Pagination -->
                <div class="pagination">
                    <div class="pagination-info">
                        <span>Filas por página</span>
                        <select class="rows-select">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="pagination-controls">
                        <span class="page-info">1-10 of 32</span>
                        <button class="page-btn">◀</button>
                        <button class="page-btn">▶</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>