<!-- Sidebar -->
<aside class="sidebar">
    <div class="logo">
        <img src="/images/NEZTER_CASA.png" alt="Logo" />
    </div>
    <nav>
        <ul>
            <li>
                <a [routerLink]="['/empleados']">
                    <img src="/icons/EMPLEADOS.png" alt="Usuario" width="24" />
                </a>
            </li>
            <li>
                <a [routerLink]="['/puestos']">
                    <img src="/icons/PUESTOS.png" alt="Puestos" width="24" />
                </a>
            </li>
            <li>
                <a [routerLink]="['/clasificaciones']">
                    <img src="/icons/CLASIFICACIONES.png" alt="Estadísticas" width="24" />
                </a>
            </li>
            <li>
                <a [routerLink]="['/examenes']">
                    <img src="/icons/SECCION_EXAMENES.png" alt="Exámenes" width="24" />
                </a>
            </li>
        </ul>
    </nav>
</aside>