<aside class="sidebar">
    <ul class="sidebar__list">
        <a [routerLink]="['/admin-dashboard']">
            <li class="sidebar__element">
                <img src="/images/NEZTER_CASA.png" class="sidebar__icon sidebar__icon--logo" />
                <div class="sidebar__hide">
                    <p class="sidebar__logo">NEZTER</p>
                </div>
            </li>
        </a>

        <a [routerLink]="['/admin-empleados']">
            <li class="sidebar__element">

                <img src="/icons/EMPLEADOS.png" class="sidebar__icon" />

                <div class="sidebar__hide">
                    <p class="sidebar__text">Empleados</p>
                </div>
            </li>
        </a>

        <a [routerLink]="['/admin-puestos']">
            <li class="sidebar__element">
                <img src="/icons/PUESTOS.png" class="sidebar__icon" />

                <div class="sidebar__hide">
                    <p class="sidebar__text">Puestos</p>
                </div>
            </li>
        </a>

        <a [routerLink]="['/admin-clasificaciones']">
            <li class="sidebar__element">
                <img src="/icons/CLASIFICACIONES.png" class="sidebar__icon" />

                <div class="sidebar__hide">
                    <p class="sidebar__text">Clasificaciones</p>
                </div>
            </li>
        </a>

        <a [routerLink]="['/admin-examenes']">
            <li class="sidebar__element">
                <img src="/icons/SECCION_EXAMENES.png" class="sidebar__icon" />

                <div class="sidebar__hide">
                    <p class="sidebar__text">Examenes</p>
                </div>
            </li>
        </a>

    </ul>
</aside>
