<div class="empleado-dashboard">
    <div class="main-content">
        <section class="content">
            <img class="main-logo" src="/images/NEZTER_CASA.png" alt="Icono" />
            <h1>¡Bienvenido Empleado!</h1>
            <p>
                En este sistema podrás resolver exámenes psicometricos en tu plataforma.
                Permitiendo visualizar exámenes, responder y ver los resultados de tus exámenes, al finalizar un examen.
            </p>
        </section>
    </div>
</div>